/* #MARKER vars and shit */

:root {
	--line-height: calc(100% + 4px);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mimica {
    cursor: pointer;
}

a:not(.noul), .mimica:not(.noul) {
    color: #8f9aff;
    text-decoration: none;
}

a:not(.noul):hover, .mimica:not(.noul):hover {
    color: #bcc2ff;
    text-decoration: underline;
}

/* #MARKER other */

body {
	background-color: #282c34;
	font-family: "Roboto", "Segoe UI", "Arial", sans-serif;
	font-size: 22px;
	color: white;
	line-height: var(--line-height);
	text-align: center;
}

main {
	display: inline-block;
	margin-top: 30px;
}

h2#error {
	color: orangered;
	margin-bottom: 25px;
}

