@font-face {
    font-family: "Roboto";
    src: url("https://sv443.net/resources/fonts/Roboto/Roboto.woff")  format("woff"),
         url("https://sv443.net/resources/fonts/Roboto/Roboto.woff2") format("woff2"),
         url("https://sv443.net/resources/fonts/Roboto/Roboto.ttf")   format("truetype");
}

@font-face {
    font-family: "Ubuntu";
    src: url("https://sv443.net/resources/fonts/Ubuntu/Ubuntu.woff")  format("woff"),
         url("https://sv443.net/resources/fonts/Ubuntu/Ubuntu.woff2") format("woff2"),
         url("https://sv443.net/resources/fonts/Ubuntu/Ubuntu.ttf")   format("truetype");
}

:root {
    --bg-color-dark: #282c34;
    --bg-color-light: #f1f1f1;
}

* {
    font-family: "Roboto", "Segoe UI", "Calibri", "San Francisco", sans-serif;
}

html {
    font-size: 18px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--bg-color-light);
    color: black;
    margin: 0;
    padding: 0;
}


body[data-theme="light"] {
    background-color: var(--bg-color-light);
    color: black;
}

body[data-theme="dark"] {
    background-color: var(--bg-color-dark);
    color: white;
}

body[data-theme="spooky"] {
    background-color: #f9ac59;
}

body[data-theme="light"] #themebtn {
    background-color: #b6b6b6;
}

body[data-theme="dark"] #themebtn {
    background-color: #0e0e0e;
}

body[data-theme="spooky"] #themebtn {
    background-color: #a15605;
    color: white;
}

body[data-theme="light"] #langbtn {
    background-color: #D8D8D8;
}

body[data-theme="dark"] #langbtn {
    background-color: #202020;
}

body[data-theme="spooky"] #langbtn {
    background-color: #a15605;
    color: white;
}

body[data-theme="light"] #themebtn:hover {
    color: #0475FD;
}

body[data-theme="dark"] #themebtn:hover {
    color: #fd8c04;
}

body[data-theme="light"] .list-header {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

body[data-theme="dark"] .list-header {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

body[data-theme="light"] footer {
    background-color: var(--bg-color-light);
}

body[data-theme="dark"] footer {
    background-color: var(--bg-color-dark);
}

body[data-theme="spooky"] footer {
    background-color: #f9ac59;
}

body[data-theme="light"] h1 {
    color: black;
}

body[data-theme="light"] h2 {
    color: black;
}

body[data-theme="light"] :not(#notifs h3):not(a):not(#themebtn):not(.icon) {
    color: black;
}

body[data-theme="light"] h4 {
    color: black;
}

body[data-theme="light"] h5 {
    color: black;
}

body[data-theme="light"] h6 {
    color: black;
}

body[data-theme="dark"] h1 {
    color: white;
}

body[data-theme="dark"] h2 {
    color: white;
}

/* body[data-theme="dark"] :not(#notifs h3):not(a):not(#themebtn):not(.icon) {
    color: white;
} */

body[data-theme="dark"] h4 {
    color: white;
}

body[data-theme="dark"] h5 {
    color: white;
}

body[data-theme="dark"] h6 {
    color: white;
}

a:not(.noul), .mimica:not(.noul) {
    cursor: pointer;
    color: #8c9eff;
    text-decoration: none;
}

a:not(.noul):hover, .mimica:not(.noul):hover {
    color: #acb8ff;
    text-decoration: underline;
}

.list-header {
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

.list-header h1 {
    font-size: 1.8em;
    font-weight: normal;
    margin: 10px 0;
}

.list {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list-item {
    display: inline-block;
    padding: 10px;
    max-width: 300px;
}

.list-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.list-item-container > h4 {
    font-family: "Roboto Condensed", "Roboto", "Segoe UI", sans-serif;
    margin: 0;
}

.img-link {
    text-decoration: none;
    color: initial;
    cursor: pointer;
}

.img-link:not(.no-margin) {
    margin-left: 10px;
    margin-right: 10px;
}

.img-link:not(.not-block) {
    transition: transform 0.2s;
    text-decoration: none;
}

.img-link:not(.not-block):hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.img-link:visited {
    color: initial;
}

img.square {
    width: 65px;
    height: 65px;
    margin: 10px;
    border-radius: 0%;
    box-sizing: border-box;
    background-size: cover;
}

img.rounded.square {
    border-radius: 10px;
}

@media (max-width: 550px) {
    img.square, img.rounded, img.circle {
        width: 50px;
        height: 50px;
    }
}
