@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bg-color-dark: #282c34;
    --bg-color-light: #f1f1f1;
}

* {
    font-family: "Roboto", "Segoe UI", "Calibri", "San Francisco", sans-serif;
}

html {
    font-size: 18px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--bg-color-light);
    color: black;
    margin: 0;
    padding: 0;
}


body[data-theme="light"] {
    background-color: var(--bg-color-light);
    color: black;
}

body[data-theme="dark"] {
    background-color: var(--bg-color-dark);
    color: white;
}

body[data-theme="spooky"] {
    background-color: #f9ac59;
}

body[data-theme="light"] #themebtn {
    background-color: #b6b6b6;
}

body[data-theme="dark"] #themebtn {
    background-color: #0e0e0e;
}

body[data-theme="spooky"] #themebtn {
    background-color: #a15605;
    color: white;
}

body[data-theme="light"] #langbtn {
    background-color: #D8D8D8;
}

body[data-theme="dark"] #langbtn {
    background-color: #202020;
}

body[data-theme="spooky"] #langbtn {
    background-color: #a15605;
    color: white;
}

body[data-theme="light"] #themebtn:hover {
    color: #0475FD;
}

body[data-theme="dark"] #themebtn:hover {
    color: #fd8c04;
}

body[data-theme="light"] .list-header {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

body[data-theme="dark"] .list-header {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

body[data-theme="light"] footer {
    background-color: var(--bg-color-light);
}

body[data-theme="dark"] footer {
    background-color: var(--bg-color-dark);
}

body[data-theme="spooky"] footer {
    background-color: #f9ac59;
}

body[data-theme="light"] h1 {
    color: black;
}

body[data-theme="light"] h2 {
    color: black;
}

body[data-theme="light"] :not(#notifs h3):not(a):not(#themebtn):not(.icon) {
    color: black;
}

body[data-theme="light"] h4 {
    color: black;
}

body[data-theme="light"] h5 {
    color: black;
}

body[data-theme="light"] h6 {
    color: black;
}

body[data-theme="dark"] h1 {
    color: white;
}

body[data-theme="dark"] h2 {
    color: white;
}

/* body[data-theme="dark"] :not(#notifs h3):not(a):not(#themebtn):not(.icon) {
    color: white;
} */

body[data-theme="dark"] h4 {
    color: white;
}

body[data-theme="dark"] h5 {
    color: white;
}

body[data-theme="dark"] h6 {
    color: white;
}

a {
    color: #8c9eff;
    text-decoration: none;
}

a:hover {
    color: #acb8ff;
    text-decoration: underline;
}