@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Roboto&family=Roboto+Condensed&display=swap');


.img-link {
    text-decoration: none;
    color: initial;
    cursor: pointer;
}

.img-link:not(.no-margin) {
    margin-left: 10px;
    margin-right: 10px;
}

.img-link:not(.not-block) {
    transition: transform 0.2s;
    text-decoration: none;
}

.img-link:not(.not-block):hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.img-link:visited {
    color: initial;
}

#support-link {
    display: inline-block;
    transition: transform 0.2s;
}

#support-link:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

p {
    word-wrap: break-word;
}

header {
    margin: 1em 10%;
    text-align: center;
}

@media (max-width: 750px) {
    header {
        margin: 0.7em 5%;
    }
}

@media (max-width: 600px) {
    header {
        margin: 0.4em 3%;
    }
}

#title {
    text-align: center;
    font-size: 40px;
    margin: 15px 0;
}

@media (max-width: 600px) {
    #title {
        font-size: 35px;
        margin: 10px 0;
    }
}

#options {
    position: absolute;
    right: 15vw;

    display: flex;
    justify-content: flex-end;
}

#options div:first-child {
    margin-right: 10px;
}

#options div:last-child {
    margin-left: 10px;
}

#themebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #D8D8D8;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: transform 0.3s, box-shadow 0.1s;
}

#themebtn:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
}

#themeimg {
    width: 25px;
    height: 25px;
}

#langbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #D8D8D8;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: transform 0.3s, box-shadow 0.1s;
}

#langbtn:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
    color: #5c6e91;
}

.icon {
    height: 30px;
    display: inherit;
}

main {
    margin: 1em 25%;
    margin-bottom: 0;
    padding-bottom: 20px;
}

#synopsis {
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
}

#synopsis > div {
    margin: auto;
    flex-basis: 40%;
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background-image: url(../resources/images/Sv443NetworkIcon.png);
    background-size: cover;
    margin-left: auto;
    margin-right: 0;
}

#logo.pride {
    background-image: url(../resources/images/Sv443NetworkIcon_pride.png);
}

#projects {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;
    justify-content: space-between;
}

#games, #scripts-websites {
    display: flex;
    flex-direction: column;
    flex-basis: 47.5%;
    margin-top: 1em;
    box-sizing: border-box;
}

#contact {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    box-sizing: border-box;
}

.list-header {
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

.list-header h1 {
    font-size: 1.8em;
    font-weight: normal;
    margin: 10px 0;
}

.list {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.list-item-container > h4 {
    font-family: "Roboto Condensed", "Roboto", "Segoe UI", sans-serif;
    margin: 0;
}

#support-img {
    width: 440px;
}

@media (max-width: 1300px) {
    #options {
        right: 0;
    }
}

@media (max-width: 600px) {
    #support-img {
        min-width: 300px;
    }
}

img.circle {
    width: 65px;
    height: 65px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    background-size: cover;
}

img.square {
    width: 65px;
    height: 65px;
    margin: 10px;
    border-radius: 0%;
    box-sizing: border-box;
    background-size: cover;
}

img.rounded.square {
    border-radius: 10px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f1f1f1;
}

body[data-theme="dark"] footer a {
    color: #6f85ff;
}

body[data-theme="dark"] footer a:hover {
    color: #8b9cff;
}

body[data-theme="light"] footer a {
    color: #4b67fc;
}

body[data-theme="light"] footer a:hover {
    color: #6f85fc;
}

#legal {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#legal h4 {
    padding: 0px;
    margin: 15px;
    text-align: right;
    font-weight: normal;
}

#notif {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}

#notif h3 {
    margin: 0;
}

.fade-to-the-right {
    animation: fade-to-the-right 0.8s;
}

@keyframes fade-to-the-right {
    0% {
        opacity: 0.1;
        transform: translateX(-120%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#consentButtonWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-left: 25px;
}

#cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;

    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 5px 100px;
    flex-basis: 100%;
    font-size: 16px;

    border-top-right-radius: 25px;

    /** bgcolor is in global.css */
}

#cookie-consent > div.big {
    flex-grow: 2;
}

.cookieButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    min-width: 60px;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 10px 5px;

    border-style: none solid solid none;
    border-width: 3px;
}

body[data-theme="light"] #cookie-consent {
    background-color: #9d9ea1;
}

body[data-theme="dark"] #cookie-consent {
    background-color: #080808;
}

body[data-theme="light"] .cookieButton.g {
    background-color: #6ddd6d;
    border-color: #499649; /*  :O  */
}

body[data-theme="light"] .cookieButton.r {
    background-color: #d67272;
    border-color: #b63535;
}

body[data-theme="dark"] .cookieButton.g {
    background-color: #306430;
    border-color: #1a3d1a; /*  :O  */
}

body[data-theme="dark"] .cookieButton.r {
    background-color: #6b3535;
    border-color: #221010;
}

body[data-theme="light"] .cookieButton span:not(.fas) {
    color: black;
}

body[data-theme="dark"] .cookieButton span:not(.fas) {
    color: white;
}

.cookieButton.g {
    background-color: #3d813d;
}

.cookieButton.r {
    background-color: #a14545;
}

p.left-align {
    display: inline-block;
    text-align: left;
}

@media (max-width: 800px) {
    #cookie-consent {
        flex-direction: row;
        flex-wrap: wrap;
        border-top-right-radius: 0;
        text-align: center;
    }
}

@media (max-width: 512px) {
    #logo {
        margin-right: auto;
    }

    footer {
        flex-direction: column;
    }

    #legal > h4 {
        font-size: 16px;
        margin: 15px 5px;
    }

    #legal {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 15px;
    }
}

@media (max-width: 1000px) {
    #cookie-consent {
        padding: 5px 30px;
    }

    #synopsis {
        margin: 0;
    }
    
    #synopsis > div {
        flex-basis: 80%;
    }

    #games, #scripts-websites {
        flex-basis: 100%;
    }
}

@media (max-width: 1400px) {
    main {
        margin: 1em 15%;
    }
}

@media (max-width: 700px) {
    main {
        margin-top: 0.5rem;
    }

    body {
        font-size: calc(1em - 2px);
    }
}

@media (max-width: 1200px) {
    #logo {
        margin: auto;
    }

    #support-img {
        min-width: 440px;
    }

    main {
        margin-top: 1rem;
    }
}

@media (max-width: 550px) {
    #support-img {
        min-width: 280px;
    }

    img.square, img.circle {
        width: 50px;
        height: 50px;
    }
}
