@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Roboto&family=Roboto+Condensed&display=swap');


.img-link {
    text-decoration: none;
    color: initial;
    transition: transform 0.2s;
    cursor: pointer;
}

.img-link:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    color: initial;
    text-decoration: initial;
}

.img-link:visited {
    color: initial;

}

p {
    word-wrap: break-word;
}

header {
    margin: 1em 15%;
    text-align: center;
}

@media (max-width: 600px) {
    header {
        margin: 0.5em 10%;
    }
}

#title {
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
}

@media (max-width: 600px) {
    #title {
        font-size: 35px;
        margin: 15px 0;
    }
}

#options {
    position: absolute;
    right: 15vw;

    display: flex;
    justify-content: flex-end;
}

#options div:first-child {
    margin-right: 10px;
}

#options div:last-child {
    margin-left: 10px;
}

@media (max-width: 750px) {
    #options {
        position: relative;
        right: initial;
        text-align: center;
        justify-content: center;
    }

    #options div:first-child {
        margin-right: initial;
    }
}

#themebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #D8D8D8;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: transform 0.3s, box-shadow 0.1s;
}

#themebtn:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
    color: #0475FD;
}

#langbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #D8D8D8;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: transform 0.3s, box-shadow 0.1s;
}

#langbtn:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
    color: #5c6e91;
}

.icon {
    height: 30px;
    display: inherit;
}

main {
    margin: 1em 15%;
    padding-bottom: 50px;
}

#synopsis {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
}

#synopsis > div {
    margin: auto;
    flex-basis: 40%;
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background-image: url(../resources/images/Sv443NetworkIcon.png);
    background-size: cover;
    margin-left: auto;
    /* margin-right: 0; */
}

#projects {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    justify-content: space-between;
}

#games, #scripts-websites {
    display: flex;
    flex-direction: column;
    flex-basis: 47.5%;
    margin-top: 2em;
    box-sizing: border-box;
}

#contact {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    box-sizing: border-box;
}

.list-header {
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

.list-header h1 {
    font-weight: normal;
    margin: 15px 0;
}

.list {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.list-item-container > h4 {
    font-family: "Roboto Condensed", "Roboto", "Segoe UI", sans-serif;
    margin: 0;
}

img.circle {
    width: 65px;
    height: 65px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    background-size: cover;
}

img.square {
    width: 65px;
    height: 65px;
    margin: 10px;
    border-radius: 0%;
    box-sizing: border-box;
    background-size: cover;
}

img.rounded.square {
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f1f1f1;
}

footer a {
    color: #4b67fc;
}

footer a:hover {
    color: #6f85fc;
}

#cloudflare {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

#legal {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#legal h4 {
    padding: 0px;
    margin: 15px;
    text-align: right;
    font-weight: normal;
}

#notif {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}

#notif h3 {
    margin: 0;
}

.fade-to-the-right {
    animation: fade-to-the-right 0.8s;
}

@keyframes fade-to-the-right {
    0% {
        opacity: 0.1;
        transform: translateX(-120%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#cookie-consent {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: #edeef4;
    padding: 5px 20px;
    flex-basis: 100%;
    font-size: 14px;
}

#consent-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: #D8D8D8;
    border-radius: 30px;
    padding: 10px 15px;
}

#consent-button:hover span {
    color: #5aa469;
}

@media (max-width: 768px) {
    #cookie-consent {
        flex-direction: column;
    }
}

@media (max-width: 512px) {
    #logo {
        margin-right: auto;
    }

    footer {
        flex-direction: column;
    }

    #legal > h4 {
        font-size: 14px;
        margin: 15px 5px;
    }

    #legal {
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    main {
        margin: 1rem;
    }
}

@media (max-width: 500px) {
    main {
        margin: 0.5rem;
    }

    body {
        font-size: 85%;
    }
}

@media (max-width: 512px) {
    #synopsis {
        margin: 0;
    }
    
    #synopsis > div {
        flex-basis: 80%;
    }
}

@media (max-width: 512px) {
    #games, #scripts-websites {
        flex-basis: 100%;
    }
}
