body {
    background-color: #222;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    margin:0;
}

canvas {
    display: block;
    margin: 1em auto;
    margin-top: 0;
    background: #333;
    border: 1px solid #ccc;
    cursor: grab;
    max-height: 90vh;
}

#apB {
    margin-left: 1vw;
}

a {
    color: rgb(71, 187, 255);
    transition: color 0.6s ease-out;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(190, 231, 255);
    transition: color 0.1s linear;
}

canvas:active {
    cursor: grabbing;
}

#menu {
    width: 100%;
    background-color: #000;
    margin:0;
}

#menu td {
    height: 2vw;
    cursor: pointer;
    width: calc(100vw/7);
    text-align: center;

    background-color: #000;
    transition: background-color 0.6s ease-out;
}

#menu td:hover {
    background-color: #444;
    transition: background-color 0.1s linear;
}

#dlimg {
    width: 2vw;
    height: 2vw;
    position: absolute;
    bottom: 0.7vw;
    right: 0.7vw;
    z-index: 1000;
    cursor: pointer;
    border: 0.15vw solid white;
    border-radius: 100%;
    transition: bottom 0.4s ease-out, filter 0.4s ease-out;
}

#dlimg:hover {
    bottom: 1vw;
    filter: grayscale(100%);
    transition: bottom 0.1s linear, filter 0.1s linear;
}